*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
html{
    width: 100%;
}

.global-section{
    height: 100% !important;
    margin-top: 2rem;
    padding:4rem 4rem 4rem 4rem !important;
}

.section{
    /* padding: 150px 10px 0px 90px; */
    height: 100%;
  
}

.section-heading{
    font-size: 70px;
    font-weight: 600;
}

.section-description{
    margin-top: 30px;
    font-size: 20px;
}

.section-button{
    cursor: pointer;
    margin-top: 50px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#f0f0f0;
}

.section-image{

    height: auto;
    margin-top: -100px;
    margin-left: 150px;
}


@media only screen and (max-width: 1171px){
    .section-image{
       width: 120%;
        margin-left: 120px;
    }
    
}
@media only screen and (max-width: 1100px){
     .section-description{
         width: 120%;
     }
}


@media only screen and (max-width: 988px){
    .section-heading{
        font-size: 60px;
    }
    .section-description{
        
        font-size: 18px;
    }
    
    .section-button{
        margin-top: 50px;
        width: 180px;
        height: 45px;

    }
    .section-image{
        width: 120%;
         margin-left: 110px;
         margin-top: -80px;
     }
}
@media only screen and (max-width: 850px){
    .section{
        padding-left: 50px ;
    }
    .section-image{
        margin-top: -50px;
    }
    .section-heading{
        font-size: 50px;
    }
    .section-description{
        
        font-size: 17px;
    }
}


@media only screen and (max-width: 768px){
.global-section{
    height: 100% !important;
    padding:3rem 1rem 1rem 1rem !important;
}

.section{
    margin-bottom: 100px;
}
    
.section-image{
   width: 70%;
    margin: 0;
    
}

.section-description{
    margin-top: 30px;
    font-size: 18px;
    width: 100%;
}

.text-aligning{
    text-align: center;
}

.section-button{
    margin-top: 35px;
    width: 200px;
    height: 50px;
    margin-left: 35%;
}

.section-heading{
    font-size: 2.5rem !important;
    font-style: italic;
    text-align: center;
    font-weight: 700;
}

}

@media only screen and (max-width: 687px){
    .section{
        margin-bottom: 50px;
    }
}


@media only screen and (max-width: 576px){
    .section-heading{
        font-size: 50px;

         text-align: center;
    }
    .section{
        padding-top: 40px;
        margin-bottom: 0px;
    }
    .section-description{
        font-size: 16px;
    }
    .section-button{
        margin-left: 30%;
    }
}

@media only screen and (max-width: 498px){
    .section{
        padding-top: 50px;
    }
    .section-image{
        width: 80%;
    }
    .section-button{
        margin-left: 20%;
    }
}

@media only screen and (max-width: 404px){
    .section-description{
        width: 110%;
        margin-left: -10px;
    }
    .section-image{
        width: 100%;
    }
    .section{
        padding-top: 30px ;
    }
    .section-button{
        margin-left: 15%;
    }
}

@media only screen and (max-width: 365px){
    .section-description{
        width: 120%;
        margin-left: -30px;
    }
    .section-heading{
       font-size: 40px;
    }
}

