.track-section{
    margin: 0;
    padding: 50px 10px 10px 0px ;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: #F86B64;
}

.track-section h1{
    font-size: 23px;
    color: #621f4f;
   font-weight: 700;
}

.track-section p{
    font-size: 1vw;
}

@media only screen and (max-width: 1500px){

.track-section{
    padding: 20px 10px 10px 0;
}

}
@media only screen and (max-width: 1300px){
    .track-section{
    padding: 10px 5px 5px 0;
}
    .track-section h1{
        font-size: 20px;
    } 
    .track-section p{
        font-size: 1.1vw;
    }

}

@media only screen and (max-width: 1100px){
    
    .track-section h1{
        font-size: 18px;
    } 
}



/* COPY HERE */

@media only screen and (max-width: 991px){
    .track-section{
        margin: 0;
        padding: 70px  ;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background: #F86B64;
    }
    
    .track-section h1{
        font-size: 30px;
        color: #621f4f;
       font-weight: 700;
    }
    
    .track-section p{
        font-size: 17px;
    }
}

@media only screen and (max-width: 620px){
 
    .track-section h1{
        font-size: 27px;
        color: #621f4f;
       font-weight: 700;
    }
    
    .track-section p{
        font-size: 15px;
    }
}

@media only screen and (max-width: 530px){
    .track-section{
        margin: 0;
        padding: 40px  ;
    }
    
    .track-section h1{
        font-size: 25px;
        color: #621f4f;
       font-weight: 700;
    }
    
    .track-section p{
        font-size: 14px;
    }
}


