.App-logo{
    pointer-events: none;
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 25%;
  }
  .my-row{
      align-content: flex-start;
      width: auto;
  }
  .my-column-1{
      background-color: brown;

  }
  .my-column-2{
      text-align: right;
  }
.home-head{
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.9pxpx;
    letter-spacing: 0em;
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
    color: #000000;

}

.home-subhead{
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;
    color: #838383;
}
