.head{
    width: 99%;
    bottom: 0;
}
.App-logo{
    height: 7vmin;
    pointer-events: none;
    padding-left: 2.5%;
    padding-top: 1%;
    /* background-color: coral; */
  }
  .row{
      /* background-color: rgb(208, 212, 146); */
      align-content: space-between;
  }
  
  .column{
      /* align-items: baseline; */
      text-align: right;
      /* background-color: darkgoldenrod; */
      padding-top: 0px;
      width: fit-content;
      height: min-content;
  }
.home-header{
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.9pxpx;
    letter-spacing: 0em;
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
    color: #000000;

}

.home-subheader{
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;
    color: #838383;
    /* margin-top: 2rem; */
}
