*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
html{
    width: 100%;
}

.contact-section{
    height:100% !important;
    padding: 4rem 0rem 2rem 0rem;
}

.contact-right-section{
    text-align: left;
}

.Contact-header{
    text-align: left;
}

.Contact-para{
    margin-top: 2rem;
    font-size: 1.27rem;
    font-style: normal;
    font-weight: 500;
    color:#2d2d2d;
    text-align: left !important;
}

.right-section-heading{
    text-align: right;
    font-size: 70px;
}

.right-section-description{
    text-align: right;
    margin-top: 30px;
    font-size: 20px;
}

.right-section-button{
   float: right;
    cursor: pointer;
    margin-top: 50px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#f0f0f0;
}

.right-section-image{
    width: 100%;
    height: auto;
    margin-top: -100px;
    margin-left: 50px;
}

.removed-padding{
  margin: 0;
  padding: 0;
}

.social{
    text-align: left !important;
}
.social a:hover, .social a:visited, .social a:focus{
    text-decoration: none;
}

.fab.fa-facebook-f,
.fab.fa-instagram,
.fab.fa-linkedin,
.fab.fa-github{
    font-size: 1.7rem;
    margin: 1rem;
    display: inline;
    color: #2d2d2d;
    text-decoration: none !important;
}

.fab.fa-facebook-f:hover{
    text-decoration: none !important;
    color: #4183F3;
}

.fab.fa-instagram:hover{
    color: #E94335;
}

.fab.fa-linkedin:hover{
    text-decoration: none !important;
    color: #F9BB08;
}

@media only screen and (max-width: 1200px){
    .contact-right-section{
        padding-right: 50px;
    }
    .right-section-image{
        width: 120%;
        
     }
}


@media only screen and (max-width: 1070px){
    .contact-right-section{
        padding-right: 20px;
    }
    .right-section-image{
        margin-left: 30px;
    }
    .right-section-description{
        width: 120%;
       margin-left: -80px;
    }
}


@media only screen and (max-width: 988px){
    .right-section-heading{
        font-size: 60px;
    }
    .right-section-description{
        
        font-size: 18px;
    }
    
    .right-section-button{
        margin-top: 50px;
        width: 180px;
        height: 45px;
    }
    .right-section-image{
         margin-top: -80px;
     }
     .contact-right-section{
        padding-right: 10px;
    }
}
@media only screen and (max-width: 850px){
   
    .right-section-image{
        margin-top: -50px;
        margin-left: 10px;
    }
    .right-section-heading{
        font-size: 50px;
    }
    .right-section-description{
        font-size: 17px;
        margin-left: -60px;
    }
    .contact-right-section{
        padding-right: 0px;
    }
}

@media only screen and (max-width: 768px){

    .contact-right-section{
        padding-top: 10px;
        margin-bottom: 100px;
    }

    .Contact-header{
        text-align: center;
    }

    .Contact-para{
        margin-top: 2rem;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0em;
        color:#2d2d2d;
        text-align: center !important;
    }

    .social{
        text-align: center !important;
    }
    
   .right-section-image{
   width: 65%;
    margin: 0;
}

.right-section-description{
    margin-top: 30px;
    font-size: 18px;
    width: 100%;
    margin-left: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.text-aligning{
    text-align: center;
}

.right-section-button{
    margin-top: 25px;
    width: 200px;
    height: 50px;
    
}
.centering-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-section-heading{
    font-size: 60px;
     text-align: center;
}
.contact-right-section{
    margin-bottom: 0;
}
.contact-icons{
    margin-top: 35px;
}
}
@media only screen and (max-width: 687px){
  
    .contact-right-section{
        margin-bottom: -90px;
    }
    
}

@media only screen and (max-width: 576px){
    .right-section-heading{
         font-size: 50px;
         text-align: center;
    }
    .contact-right-section{
        padding-top: 40px;
        margin-bottom: -120px;
    }
    .right-section-description{
        font-size: 16px;
    }
  
    .contact-icons{
        margin-top: 25px;
    }
    
}


@media only screen and (max-width: 498px){
    .contact-right-section{
        padding-top: 50px;
        margin-bottom: -100px;
    }
    .right-section-image{
        width: 75%;
    }

     
}

@media only screen and (max-width: 404px){
    .right-section-description{
        width: 110%;
        margin-left: -10px;
    }
    .right-section-image{
        width: 90%;
    }
    .contact-right-section{
        padding-top: 30px ;
    }
    
    .contact-icons{
        margin-top: 45px;
    }
}

@media only screen and (max-width: 365px){
    .right-section-description{
        width: 120%;
        margin-left: -30px;
    }
    .right-section-heading{
       font-size: 40px;
    }
}


@Media only screen and (min-width:768px) and (max-width:991px){
    .Contact-para{
        text-align: center !important;
    }

    .social{
        text-align: center !important;
    }
}