.home-section{
    /* padding-top: 9rem; */
    height: 100% !important;
    padding:10rem 4rem 4rem 4rem;
}

.home-header{
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0em;
    text-align: left;
}

.there-style{
    color:#1774ff;
    text-decoration: underline;
    text-decoration-color: black;
}

.home-subheader{
    margin-top: 2rem;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: left;
}

.home-para{
    margin-top: 2rem;
    font-size: 1.27rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(109, 109, 109);
}

.team-para{
    margin-top: 2rem;
    font-size: 1.27rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    color: rgb(109, 109, 109);
    text-align: left !important;
}

.cta-button{
    margin-top: 2rem;
    background-color: #1774FF !important;
    border-radius: 50px !important;
    height:2.6rem;
    font-size: 1.1rem !important;
    width: 14rem;
    font-weight: 700 !important;
    transition: transform .2s;
}

.cta-button:hover{
    transform: scale(1.1);
    background-color: white !important;
    border-color: #1774ff !important;
    color: #1774ff !important;
}


.team-button{
    margin-top: 2rem;
    background-color: #008000 !important;
    border-radius: 50px !important;
    height:2.6rem;
    font-size: 1.1rem !important;
    width: 14rem;
    font-weight: 700 !important;
    transition: transform .2s;
    border: none;
}

.project-button{
    margin-top: 2rem;
    background-color:#ff0000 !important;
    border-radius: 50px !important;
    height:2.6rem;
    font-size: 1.1rem !important;
    width: 14rem;
    font-weight: 700 !important;
    transition: transform .2s;
    border: none;
}

.events-button{
    margin-top: 2rem;
    background-color:#3366ff!important;
    border-radius: 50px !important;
    height:2.6rem;
    font-size: 1.1rem !important;
    width: 14rem;
    font-weight: 700 !important;
    transition: transform .2s;
    border: none;
}


.align-btn{
    text-align: left;
}

.mobile-tab-header{
    display: none;
}

.desktop-header{
    display: block !important;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 84px;
    letter-spacing: 0em;
    text-align: left;
}

@Media only screen and (max-width:768px){

    .re-order .row{
        display: flex;
        display: -ms-flex;
        flex-direction: column;
      }
    
      .re-order .row .first{
        order: 2;
      }
    
      .re-order .row .second{
        order: 1;
      }

      
    .home-section{
         padding: 5rem 1rem 1rem 1rem;
    }
    
    .home-header{
        font-size: 2.8rem;
        line-height: 1;
    }

    .desktop-header{
        display: none !important;
        font-weight: 700 !important;
    }
    
    .home-subheader{
        margin-top: 2rem;
        font-size:1.6rem;
        line-height: 1;
        font-style: italic;
    }
    
    .home-para{
        margin-top: 2rem;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        text-align: left !important;
        letter-spacing: 0em;
        color: rgb(109, 109, 109);
    }

    .team-para{
        margin-top: 2rem;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0em;
        color: rgb(109, 109, 109);
        text-align: center !important;
    }
    
    .cta-button{
        margin-top: 2rem;
        background-color: #1774FF !important;
        border-radius: 50px !important;
        height:2.6rem;
        font-size: 1.1rem !important;
        width: 14rem;
        font-weight: 700 !important;
        transition: transform .2s;
    }
    
    .cta-button:hover{
        transform: scale(1.1);
        background-color: white !important;
        border-color: #1774ff !important;
        color: #1774ff !important;
    }

    .team-button{
        margin-top: 2rem;
        background-color: #008000 !important;
        border-radius: 50px !important;
        height:2.6rem;
        font-size: 1.1rem !important;
        width: 14rem;
        font-weight: 700 !important;
        transition: transform .2s;
    }

    .project-button{
        margin-top: 2rem;
        background-color:#ff0000 !important;
        border-radius: 50px !important;
        height:2.6rem;
        font-size: 1.1rem !important;
        border: none;
        width: 14rem;
        font-weight: 700 !important;
        transition: transform .2s;
    }

    .events-button{
        margin-top: 2rem;
        background-color:#3366ff!important;
        border-radius: 50px !important;
        height:2.6rem;
        font-size: 1.1rem !important;
        border: none;
        width: 14rem;
        font-weight: 700 !important;
        transition: transform .2s;
    }

    .align-btn{
        text-align: center;
    }

    .hero-image{
        margin-top: 2rem;
    }

    .mobile-tab-header{
        display:block;
        font-size: 2.8rem;
        line-height: 1;
    }
    
}