  
body{
    font-family: 'Google Sans' !important;
}

.container{
    padding-top: 5%;
    position: relative;
    /* left: 10%; */
    /* height: min-content; */
}
.column{
      text-align: right;
      padding-top: 0px;
      width: fit-content;
      height: min-content;
  }


.sub{
    color: #2d2d2d;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
}

.home{
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0em;
    text-align: center;
}

.there-text-style{
    color:#1774ff;
}

.text-left{
    text-align: left;
}


/* --------------------------------------------- */

.our-team{
    margin-top: 5rem;
}

@media only screen and (max-width:768px){
    .our-team{
        margin-top: 5.5rem;
    }

    .sub{
        font-size:1.1rem;
        margin-bottom: 1rem;
        margin-top: -1rem;
    }
    
    .home{
        font-size: 3rem;
        font-weight: 700 !important;
    }
}