  
body{
    font-family: 'Google Sans' !important;
}

.our-team{
    padding-top: 5%;
}

.team-subheading{
    color: #2d2d2d;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 100px;
}

.team-heading{
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 100px;
}

.there-text-style{
    color:#1774ff;
}

.text-left{
    text-align: left;
}

@media only screen and (max-width:768px){
    .team-subheading{
        font-size:1.1rem;
        margin-bottom: 50px;
    }
    
    .team-heading{
        font-size: 3rem;
        font-weight: 700 !important;
    }
}