  
.member-tile-column{
    padding-top: 50pt;
    position: absolute;
}
.member-image{
    /* background-color: yellow; */
    height: 80pt;
    width: 80pt;
    position: relative;
    -moz-border-radius: 10000px;
    -webkit-border-radius: 10000px;
    border-radius: 10000px;
    text-align: center;
}

.member-name{
    font-weight: 700;
    color: #000000;
    font-size: 25pt;
    text-align: center;
    padding-top: 15pt;
}
.member-domain{
    font-weight: 500;
    color: #B1B1B1;
    font-size: 15pt;
    text-align: center;

}
.social-media{
        padding: 5pt;
        pointer-events: none;
        margin: 3px;
        padding: 3px;
    
    
}
.social-media-row{
    vertical-align: bottom;
    align-items: center;
    max-height: 20pt;
    max-width: 100%;

}
.profileImage{
    height: 20vmin;
    width: 20vmin;
    pointer-events: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-content: center;
    align-self: center;
    align-content: center;
    align-items: center;

}
img {
    max-width: 100%;
    height: auto;
}

.item {
    width: 120px;
    min-height: 120px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
}