.home-section{
    padding-top: 9rem;
}

.home-header{
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0em;
    text-align: left;
}

.there-style{
    color:#1774ff;
    text-decoration: underline;
    text-decoration-color: black;
}

.home-subheader{
    margin-top: 2rem;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: left;
}

.home-para{
    margin-top: 2rem;
    font-size: 1.27rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(109, 109, 109);
}

.cta-button{
    margin-top: 2rem;
    background-color: #1774FF !important;
    border-radius: 50px !important;
    height:2.6rem;
    font-size: 1.1rem !important;
    width: 14rem;
    font-weight: 700 !important;
    transition: transform .2s;
}

.cta-button:hover{
    transform: scale(1.1);
    background-color: white !important;
    border-color: #1774ff !important;
    color: #1774ff !important;
}

@Media only screen and (max-width:768px){
    .home-section{
        padding: 7rem 1rem 1rem 1rem;
    }
    
    .home-header{
        font-size: 3.3rem;
    }
    
    .home-subheader{
        margin-top: 0.5rem;
        font-size:1.8rem;
        font-style: italic;
    }
    
    .home-para{
        margin-top: 0.5rem;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0em;
        text-align: left;
        color: rgb(109, 109, 109);
    }
    
    .cta-button{
        margin-top: 0.5rem;
        background-color: #1774FF !important;
        border-radius: 50px !important;
        height:2.6rem;
        font-size: 1.1rem !important;
        width: 14rem;
        font-weight: 700 !important;
        transition: transform .2s;
    }
    
    .cta-button:hover{
        transform: scale(1.1);
        background-color: white !important;
        border-color: #1774ff !important;
        color: #1774ff !important;
    }
}